@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'IBM Plex Sans';
}

body::selection {
    color: white;
    background-color: theme(--color-emerald-400);
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: theme(--color-slate-100);
}

body::-webkit-scrollbar-thumb {
    background-color: theme(--color-emerald-500);
    border-radius: 8px;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

button, .btn {
    background: linear-gradient(theme(--color-emerald-400), theme(--color-emerald-600));
    color: white;
    padding: 7px 14px;
    border-radius: 8px;
    font-weight: 500;
    transition-duration: 300ms;
    display: flex;
    gap: 4px;
    align-items: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
    font-size: 15px;
    cursor: pointer;
}

.btn-danger {
    background: linear-gradient(theme(--color-rose-400), theme(--color-rose-600));
}

button:hover, .btn:hover {
    filter: brightness(1.1);
}

.tox-statusbar__right-container {
    display: none !important;
}